# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [91]:
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)
type(df)

pandas.core.frame.DataFrame

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [94]:
df.sort_values(by="Unit price", ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [97]:
electronic_accessories = df[df['Product line'] == 'Electronic accessories']
max_quantity_row = electronic_accessories.loc[electronic_accessories['Quantity'].idxmax()]
max_price_row = electronic_accessories.loc[electronic_accessories['Unit price'].idxmax()]
result_df = pd.DataFrame([max_quantity_row, max_price_row])
display(result_df)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
75,732-94-0499,C,Naypyitaw,Normal,Female,Electronic accessories,41.65,10,20.8250,437.3250,1/13/2019,17:04,Credit card,416.50,4.761905,20.8250,5.4
209,817-69-8206,B,Mandalay,Normal,Female,Electronic accessories,99.73,9,44.8785,942.4485,3/2/2019,19:42,Credit card,897.57,4.761905,44.8785,6.5

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [100]:
df['Rating_Category'] = df.Rating.apply(lambda x: 'High' if x >= 8 else ('Medium' if 6 <= x < 8 else 'Low'))

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [103]:
df.Rating_Category.value_counts(normalize=True)

Rating_Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [106]:
time = '11:28'

In [108]:
def get_hour(time_str):
    return int(time_str.split(':')[0])
    
hour = get_hour(time)
print(hour)

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [111]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [114]:
hour_counts = df['Hour'].value_counts().sort_index()
hour_counts

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

Найбільше покупок припало на 10, 13, 15, 19 години, на мою думку логіка є, оскільки вранці люди купують продукти першої необхідності (те, що зандобиться протягом дня), обідні години відповідно, тому що в людей є перерва щоб купити щось поїсти і те, що не купили вранці і вечір (після робочого дня люди йдуть на закупи в магазин, перед тим як повернутися додому).

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [118]:
df.groupby('City')['Total'].mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [121]:
df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

В місті Mandalay: збалансована кількість продаж і хороший середній чек, можна зробити акцент на зміцнення позицій, звернувши увагу на асортимент, який користується популярністю, і розвивати ці категорії. Можна пропонувати більше варіантів для імпульсивних покупок, більше товарів преміум класу.

В місті Naypyitaw: найвищий середній чек, але менша кількість покупок, тут можна пробувати залучати більшу кількість покупців, розвиваючи програми лояльності, щоб утримувати клієнтів. Організовувати спеціальні акції для залучення нових клієнтів. Також можна спробувати розширити спектр недорогих товарів, збільшивши асортимент бюджетних товарів для охоплення ширшої аудиторії.

В місті Yangon: найбільша кількість покупок, але низький середній чек. Рекомендував би зробити фокус на збільшенні середнього чека, більше рекламувати супутні товари. Пропонувати набори товарів за вигідною ціною. Активізувати пропозиції за програмою лояльності. Збільшити кількість акцій для залучення клієнтів: проведення "щасливих годин" або знижок у неробочий час для ще більшої активізації покупців.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [126]:
df.to_csv('supermarket_sales_enriched.csv', index=False)